<div class="title">
    <h1>Buscando Mascotas</h1>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-title> Fluki</mat-card-title>
        <mat-card-content>
            <p><strong>Raza:</strong> Breton</p>
            <p><strong>Color:</strong> Breton</p>
            <p><strong>Peso:</strong> Breton</p> 
            <p><strong>Edad:</strong> Breton</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/LISTADO_MASCOTAS" mat-raised-button> Volver </button>
        </mat-card-actions>
    </mat-card>    
</div>